* {
    font-family: "Roboto", sans-serif;
    color: #eaffd0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f38181;
}

#title {
    font-size: 3em;
}

figure {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: space-between;
}

#portrait {
    max-width: 20em;
    border-radius: 3em;
    margin-bottom: 1.5em;
}