/* TEXT STYLES */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Can I merge p with a? */
a {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: underline;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-block-end: 0.3em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin-block-end: 0.25em;
}


/* MAIN SECTIONS */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
}

#menu {
    padding-bottom: 1em;
    text-align: center;
}

#active {
    font-weight: bold;
}

#content {
    max-width: 20em;
}

/* ORGANIZATION */
.group {
    /* padding-top: 1em; */
}

.group p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* SPECIAL */
#profile {
    text-align: center;
}

img {
    outline: solid black 5px;
}